@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: Importar las fuentes */
@font-face {
  font-family: "Coco Gothic Regular";
  src: url("../fonts/coco-gothic.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Coco Gothic Bold";
  src: url("../fonts/coco-gothic.bold.ttf") format("truetype");
}

@font-face {
  font-family: "Coco Gothic Italic";
  src: url("../fonts/coco-gothic.alternate-ultlt-ita.ttf") format("truetype");
}

@font-face {
  font-family: "Coco Gothic Light";
  src: url("../fonts/coco-gothic.ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v4/XRXV3I6Li01BKofINeaB.woff2)
    format("woff2");
}

:root {
  background-color: #FEFAF6;
  font-family: "Coco Gothic regular", system-ui;
}
